body{
    font-family: 'Roboto', sans-serif;
}
div.point{
    padding: 0px  100px 20px  100px !important;
    font-size: larger !important;
}
div.jumbotron{
    margin: 0px !important;
}
div#nav-home{
    font-size: larger !important;
}
/* div.nav-item{
    border: 1px solid black !important;
    border-color: black !important;
} */